<div layout="row" layout-align="center center">
    <md-card flex="80">
        <md-toolbar md-card-image *ngIf="!searchOpen">
            <span>Меню</span>
            <span flex></span>
        </md-toolbar>
        <md-toolbar md-card-image *ngIf="searchOpen">
            <md-input placeholder="Поиск" [(ngModel)]="search" flex></md-input>
            <button md-icon-button (click)="toggleSearch()">
                <md-icon>cancel</md-icon>
            </button>
        </md-toolbar>
        <div *ngFor="let category of categories">
            <md-toolbar md-card-image>
                <span>{{ category.name }}</span>
            </md-toolbar>
            <md-nav-list md-card-image>
                <md-list-item *ngFor="let item of category.items" (mouseover)="item.hover=true"
                              (mouseleave)="item.hover=false">
                    <span flex [style.backgroundColor]="item.choosen ? 'grey' : 'white'">{{ item.name }}
                        </span>
                    <span *ngIf="item.hover">
                            <button md-icon-button (click)="item.choosen=!this.choosen" [disabled]="dialogRef">
                                <md-icon>add</md-icon>
                            </button>
                        </span>

                </md-list-item>
            </md-nav-list>
        </div>
    </md-card>
</div>
