<div layout="column" layout-padding>
    <md-toolbar *ngIf="!searchOpen">
        <span>Еда</span>
        <span flex></span>
        <button md-icon-button (click)="toggleFilter()">
            <md-icon>filter_list</md-icon>
        </button>
        <button md-icon-button (click)="toggleSearch()">
            <md-icon>search</md-icon>
        </button>
    </md-toolbar>
    <md-toolbar *ngIf="searchOpen">
        <md-input placeholder="Поиск" [(ngModel)]="search" flex></md-input>
        <button md-icon-button (click)="toggleSearch()">
            <md-icon>cancel</md-icon>
        </button>
    </md-toolbar>
    <md-card *ngIf="filterOpen">
        <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item> Refresh </button>
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
            <button md-menu-item disabled> Sign Out </button>
        </md-menu>
    </md-card>
</div>
<div layout="row" layout-wrap *ngIf="items">
    <div *ngFor="let item of items | searchFilter:search" flex="25" layout-padding>
        <md-card>
            <md-card-header>
                <img md-card-avatar [src]="item.company.image">
                <div flex>
                    <md-card-title>{{ item.company.name }}</md-card-title>
                    <md-card-subtitle>{{ item.category.name }}</md-card-subtitle>
                </div>
                <button md-icon-button (click)="item.favorite = !item.favorite">
                    <md-icon *ngIf="item.favorite">favorite</md-icon>
                    <md-icon *ngIf="!item.favorite">favorite_border</md-icon>
                </button>
            </md-card-header>
            <img md-card-image [src]="item.image" class="img">
            <div class="order">
                <button md-fab class="md-fab-bottom-right" (click)="open()">
                    <md-icon>add_shopping_cart</md-icon>
                </button>
            </div>
                <md-card-subtitle>{{ item.price }} руб.</md-card-subtitle>
            <md-card-title>{{ item.name }}</md-card-title>
            <md-card-content>
                <span>{{ item.weight }}г</span>
                <p>{{ item.ingredients }}</p>
            </md-card-content>
        </md-card>
    </div>
</div>
