<div layout="row" layout-align="center center">
    <md-card flex="80">
        <md-toolbar md-card-image>
            <span>Заказ</span>
            <span flex></span>
        </md-toolbar>
        <md-nav-list md-card-image>
            <md-list-item *ngFor="let dish of dishes" (mouseover)="dish.hover=true" (mouseleave)="dish.hover=false">
                <span flex>{{ dish.name }}</span>
                <span flex>{{ dish.ingredients }}</span>
                <span flex>{{ dish.price | number}} р.</span>
                <button md-icon-button *ngIf="dish.hover">
                    <md-icon>delete</md-icon>
                </button>
            </md-list-item>
        </md-nav-list>
        <md-toolbar>
            <span flex="80"></span>
            <span flex>Итого: {{ totalPrice }} р.</span>
        </md-toolbar>
    </md-card>
    <!--<button md-fab class="md-fab-bottom-right" (click)="open()" [disabled]="dialogRef">-->
    <!--<md-icon>add</md-icon>-->
    <!--</button>-->
</div>
