<div layout="row" layout-align="center center">
    <md-card flex="80" *ngFor="let tray of trays">
        <md-toolbar md-card-image>
            <span>Заказ в {{ tray.company.name }}</span>
            <span flex></span>
        </md-toolbar>
        <md-nav-list md-card-image>
            <md-list-item *ngFor="let item of tray.items" #itemin (mouseover)="itemin.hover=true" (mouseleave)="itemin.hover=false">
                <span flex="20">{{ item.name }}</span>
                <span flex="60">{{ item.ingredients }}</span>
                <span flex="10">{{ item.price | number}} р.</span>
                <button md-icon-button *ngIf="item.hover">
                    <md-icon>delete</md-icon>
                </button>
            </md-list-item>
        </md-nav-list>
        <md-toolbar>
            <span flex="80"></span>
            <span flex>Итого: {{ tray.totalPrice | number }} р.</span>
        </md-toolbar>
    </md-card>
</div>
