<md-card-title>
    <md-toolbar md-card-image>
        <span>Выбрать</span>
        <span flex></span>
    </md-toolbar>
</md-card-title>
<md-card-content layout="column">
    <md-list>
        <md-list-item>
            <md-checkbox [checked]="false">Опция 1</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox [checked]="false">Опция 2</md-checkbox>
        </md-list-item>
    </md-list>
    <md-input placeholder="Предпочтения" [(ngModel)]="item"></md-input>
</md-card-content>
<md-card-actions align="end">
    <button md-button type="button" (click)="save()">Добавить в корзину</button>
</md-card-actions>

